:root {

  /* Paleta semantica */
  --color-exito: 50 205 50;
  --color-advertencia: 255 215 0;
  --color-error: 255 77 77;
  --color-informacion: 0 123 255;

  /* Paleta input */

  /* Paleta botones */
}
