:root[data-theme="light"] {
  --color-bg: #EDEDED;
  /* Paleta semantica */
  --color-exito: #32cd32;
  --color-advertencia: #ffd700;
  --color-error: #ff4d4d;
  --color-informacion: #007bff;

  /*Brand colors*/
  --color-primary-bg-default: #8e05c2;
  --color-disabled-bg-default: #6e5a75;
  --color-neutral-bg-default: #f2f2f2;

  --color-border-default: #e5e5e5;
  --color-surface-default: #F7F7F7;
  --surface-table-header: #ECECEC;

  --color-primary-text-default: #121212;
  --color-primary-text-disabled: #999999;
}

:root[data-theme="dark"] {
  --color-bg: #121212;
  /* Paleta semantica */
  --color-exito: #32cd32;
  --color-advertencia: #ffd700;
  --color-error: #ff4d4d;
  --color-informacion: #007bff;

  /*Brand colors*/
  --color-primary-bg-default: #8e05c2;
  --color-disabled-bg-default: #6e5a75;
  --color-neutral-bg-default: #4f4f4f;

  --color-border-default: #333333;
  --color-surface-default: #1E1E1E;
  --surface-table-header: #2C2C2C;

  --color-primary-text-default: #f2f2f2;
  --color-primary-text-disabled: #999999;
}
