:root {
  /* Font families */
  --font-family-base: "Open Sans", system-ui, sans-serif;

  /* Font sizes */
  --font-size-body: 54px;
  --font-size-title: 20px;
  --font-size-subtitle: 16px;
  --font-size-caption: 12px;

  /* Font weight */
  --font-weight-regular: 800;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}
