@import "tailwindcss";
@import "@heroui/styles";

@import "./token/colors.css";
@import "./token/heroui-theme.css";
@import "./token/typography.css";
@import "./token/spacing.css";
@import "./token/borders.css";
@import "./token/shadows.css";
@import "./token/transitions.css";

html,
body,
#root {
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  transition: background-color 0.2s ease;
}
